<div class="top-logo-container">
        <a href="mauihome.html" style="text-decoration: none; color: inherit;">
            <img src="images/mauilOGO.png" alt="Top Brand Logo" style="height: 200px;">
        </a>
</div>


<div class="header-container">

    
    <nav>
        <ul>
            <li><a href="mauiMen.html">Men</a></li>
            <li><a href="mauiWomen.html">Women</a></li>
            <li><a href="mauiWatches.html">Watches</a></li>
            <li><a href="mauiCustom.html">Custom</a></li>
            <li><a href="mauiLocations.html">Locations</a></li>
        </ul>
    </nav>
</div>

